$font-family-sans-serif: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji' !default;
$font-size-base: 0.85rem;

$border-radius: 0.35rem;

$tag-orange: rgb(219, 94, 26);
$tag-light: rgb(248, 247, 231);
$primary: $tag-orange;
