@import 'fonts';
@import 'variables';
@import '~bootstrap/scss/bootstrap.scss';

*,
*::before,
*::after {
    transition-timing-function: cubic-bezier(0.69, 0, 0, 1) !important;
    animation-timing-function: cubic-bezier(0.69, 0, 0, 1) !important;
}

html {
    position: relative;
    scroll-behavior: smooth;
}

#app {
    min-height: 100%;
    display: flex;
}

h1,
h2,
h3,
h4,
h5,
.panel-heading {
    font-family: 'Bebas Neue';
}

.navbar {
    background-color: $tag-orange;
    color: rgb(255, 255, 255);
    font-weight: 600;
    border: none;
    border-radius: 0;
    padding: 10px 0;
    margin-bottom: 0;

    .navbar-brand {
        img {
            width: 131px;
            height: 90px;
        }
    }

    .navbar-nav {
        margin: 15px 0;

        .nav-item {
            .nav-link {
                font-size: 18px;
                color: rgb(255, 255, 255);
                text-transform: uppercase;
                line-height: 1;
                padding: 20px 25px;
                outline: none;

                &:hover,
                &:focus,
                &.active {
                    color: rgb(102, 53, 26);
                }
            }

            .btn {
                margin-top: 10px;
            }
        }
    }
}

.featuredVideo {
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(248, 247, 231);
    background-image: url('../images/tagwindow_bg.png');
    padding: 25px 0;

    &.live {
        background-color: rgba(230, 180, 138, 0.9);
    }

    & > .col {
        margin: 30px 0;
    }

    .countdown-counter {
        text-align: center;
        vertical-align: middle;

        .countdown-title {
            text-transform: uppercase;
            display: block;
            font-size: 30px;
        }

        .timeslice {
            display: inline-block;
            margin: 0 30px;

            span {
                display: block;
                font-weight: 200;
                font-size: 80px;
            }

            .timeslice-unit {
                font-size: 24px;
            }
        }
    }

    .player {
        max-width: 900px;
        width: calc(50vh * 16 / 9);
        margin: 1rem auto 0 auto;
        box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14),
            0px 4px 18px 3px rgba(0, 0, 0, 0.12);
        z-index: 1;
    }

    .playerBtns {
        z-index: 1;
        max-width: 900px;
        width: calc(50vh * 16 / 9);
        margin: 1rem auto 0 auto;

        .btn {
            margin-left: 0.5rem;
        }
    }
}

.VOD {
    margin: 8px 4px;
    flex-basis: calc(33.3333% - 8px);
    flex-grow: 0;
    flex-shrink: 0;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.32);
    border-radius: 0.25rem;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    background-color: $tag-orange;

    &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        display: none;
        background-color: rgba(255, 255, 255, 0.075);
    }

    &:hover {
        text-decoration: none;

        &::before {
            display: block;
        }
    }

    .thumbnail {
        width: 100%;
        height: 150px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .info {
        padding: 8px;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: none;
        white-space: nowrap;
        color: rgb(255, 255, 255);
        font-size: 0.875rem;
        line-height: 19px;
    }

    .duration {
        border-radius: 0.25rem;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 4px 8px;
        color: rgb(255, 255, 255);
        position: absolute;
        font-size: 0.75rem;
        top: 10px;
        left: 10px;
    }
}

.header {
    background-color: #f8f7e7;
    background-position: center;
    background-repeat: no-repeat;
    padding: 25px 0;

    .about {
        background-size: 35%;
        background-position: center 45%;
        min-height: 120px;

        h1 {
            font-size: 28px;
            margin-top: 20px;
            margin-bottom: 45px;
        }

        img {
            max-width: 100%;
            height: auto !important;
        }
    }
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}

.content {
    padding: 2rem 0;
}

.panel {
    border-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    background-color: rgb(255, 255, 255);
    margin-bottom: 1rem;

    .panel-heading {
        font-size: 18px;
        background-color: rgba(0, 0, 0, 0.125);
        padding: 15px;
    }

    .panel-body {
        padding: 15px;
    }
}

.well {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #f8f9fa;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.social--icons {
    list-style: outside none none;
    display: block;
    padding: 0;
    margin: 0;
    max-width: 210px;

    & > li {
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 5px;

        & > a {
            display: block;
            background-color: rgb(248, 247, 231);
            padding: 10px 0;
            text-align: center;
            width: 44px;
            border-radius: $border-radius;
            color: $tag-orange;

            &:hover,
            &:focus {
                background-color: darken(rgb(248, 247, 231), 7.5%);
            }
        }
    }
}

.app--footer {
    background-color: $tag-orange;
    color: rgb(255, 255, 255);
    margin-top: 2rem;
    padding: 4rem 0 0 0;

    .app--footer__links {
        list-style: outside none none;
        display: block;
        padding: 0;
        margin: 0;

        & > li {
            display: block;
            width: 100%;
            padding: 0.5rem 0 0 0;

            & > a {
                text-decoration: none;
            }
        }
    }

    h4 {
        &::after {
            display: block;
            content: '';
            border-radius: $border-radius;
            height: 4px;
            background-color: rgb(248, 247, 231);
            width: 25%;
            margin-top: 0.25rem;
        }
    }

    .app--footer__copyright {
        padding: 1rem 0 0 0;
        margin-top: 3rem;
        border-top: 2px solid rgb(248, 247, 231);
    }
}

@media (max-width: 1199px) {
    #discordEmbed {
        width: 100%;
    }

    #Bongeh,
    #Tommy {
        margin: 0 auto;
        display: block;
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 1024px) {
    #twitchChat {
        display: none;
    }
}

@media (max-width: 986px) {
    .VOD {
        flex-basis: calc(50% - 8px);
    }
}

@media (max-width: 767.98px) {
    .navbar {
        .navbar-nav {
            .nav-item {
                .nav-link {
                    text-align: center;

                    .auth {
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media (max-width: 414px) {
    .VOD {
        flex-basis: calc(100% - 8px);
    }
}
